[submodule "tonChecker"]
	path = tonChecker
	url = git@github.com:krolchonok/tonChecker.git
[submodule "cloudflareCred"]
	path = cloudflareCred
	url = git@github.com:krolchonok/cloudfareCreds.git
[submodule "schedule"]
	path = schedule
	url = git@github.com:krolchonok/schedule.git
[submodule "tools"]
	path = tools
	url = git@github.com:krolchonok/jsToolsPdf.git
[submodule "instruction"]
	path = instruction
	url = git@github.com:krolchonok/wireguard-instruction.git
[submodule "service"]
	path = service
	url = https://github.com/krolchonok/serviceHtml
[submodule "mstudio"]
	path = mstudio
	url = https://github.com/krolchonok/musicStudio
[submodule "grapher"]
	path = grapher
	url = https://github.com/krolchonok/graphViewer
[submodule "b64"]
	path = b64
	url = https://github.com/krolchonok/b64
[submodule "imEf"]
	path = imEf
	url = https://github.com/krolchonok/imageEffect
