@font-face {
  font-family: "bender_b";
  src: url("./bender_b.ttf");
}

:root {
  --background-color: #141314;
  --text-color: #e0e0e0;
  --tile-background: #2d2d2d;
  --tile-shadow: rgba(255, 255, 255, 0.1);
  --short-tile-background: #1c1b1d;
  --tile-h2-background: #45455a;
  --medium-tile-background: #1c1b1d;
  --long-tile-background: #1c1b1d;
  --font: "bender_b";
}

body {
  font-family: var(--font), sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  height: 100%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  box-sizing: border-box; 
  flex-wrap: wrap;
  padding: 20px 0;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.tile {
  display: flex;
  flex-direction: column;
  background-color: var(--tile-background);
  border-radius: 8px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  min-width: 200px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  
}
.tile a {
  background-color: var(--tile-h2-background);
  border-radius: 30px;
  padding: 0.5px 10px;
}
.tile h2 {
  margin: 0;
  margin-bottom: 15px;
  color: var(--text-color);
  overflow-wrap: break-word;
  hyphens: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-h2-background);
  border-radius: 30px;
  padding: 5px 15px;
}
.tile button {
  background-color: var(--tile-h2-background);
  border-radius: 20px;
  margin: 0;
  font-size: 1rem;
  padding: 0.5px 10px;
  color: var(--text-color);
  border: 0;
  padding: 1px 10px;
  font-family: var(--font);
  cursor: pointer;
}
.tile p {
  color: var(--text-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
  margin-bottom: 0.7rem;
}

.pfp {
  height: 1vw;
  transition: 0.7s;
  image-rendering: pixelated;
  vertical-align: middle;
}

.pfp:hover {
  transform: scale(10);
}

.tile .long-word {
  color: #d32f2f;
}

.short {
  background-color: var(--short-tile-background);
}

.medium {
  background-color: var(--medium-tile-background);
}

.long {
  background-color: var(--long-tile-background);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 10px;
    gap: 5px;
    font-size: 1rem;
  }
  .tile {
    width: 100%;
    min-width: unset;
    margin-bottom: 10px; 
  }
  .tile p {

    line-height: 1.1;
  }
  .pfp {
    height: 5vw;
  }
  #theme-toggle {
    top: 10px;
    right: 10px;
    padding: 8px;
  }
}
